body{
    font-family:'Roboto', sans-serif;
    background-color:#1E2329;
}
/*HEAD SECTION (NAVIGATION)*/
#headsection{
    height:60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 2px solid grey;
    flex-wrap: nowrap;
}
.nav{
    color:white;
    margin:0px;   
    display:flex; 
    align-items:center;
    
}
.nav>li{
    padding:10px 20px;
    display:inline-block;
}
.nav>li:hover{
    font-weight: 900;
    border-bottom: #FED154;
    border-width:10px;
    cursor:pointer;
    letter-spacing: 1px;
}
   



/*LANDING PAGE*/
#landingpageSection{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:4%;
    margin-bottom:60px;
}
#myimage{
    width:300px;
    height:300px;
    margin-bottom:80px;
}
#bomihan{
    width:300px;
    height:50px;
    margin-bottom:40px;
}
#uxdesigner{
    color:#FED154;
    font-size:24px;
    margin-bottom:40px;
}
.btn{
    border-radius: 20px;
    background-color:#3B4046;
    color:white;
    padding:15px;
    border:none;
    font-family:'Roboto', sans-serif;
    font-size:18px;
    cursor:pointer;
    transition:all 0.2s;
}
.btn:hover{
    transform:scale(1.1,1); 
}
#herodecowhite{
    width:100px;
    height:200px;
    position:absolute;
    bottom:20%;
    left:0%;
}
#herodecoyellow{
    width:6px;
    height:300px;
    position:absolute;
    bottom:10%;
    right:1%;
}
/*LANDINGPAGE SECTION END*/


/*ABOUT ME SECTION*/
#aboutmeSection{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:4%
}
.aboutmeContent{
    margin-left:4%;
    margin-right:4%;
}
.aboutmeContent h1{
    color:#FED154;
    font-size:22px;
    align-items:center;
    display:block;
}
@media (max-width:800px){.aboutmeContent h{font-size:20px;}}

.aboutmeContent p1{
    color:white;
    font-size:18px;
    justify-content:flex-start;
}
/*ABOUT ME SECTION END*/


/*MY UX SKILLS SECTION*/
.title{
    background-color:#3B4046;
    padding:15px;
    display:block;
    height:30px;
    width:100%;
    margin-top:60px;
    margin-bottom:60px;
    color:#FED154;
    font-size:24px;
    font-weight:400;
    text-align:center;  
}
.cardcontainer{
   display:flex;
    flex-direction:row;
    justify-content:center;
    margin:0 auto;
}
.card{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    width:100%;
    max-width:300px;
    margin:0 30px;
   border:2px solid #FED154;
}
.cardheader{
    background-color:#FED154;
    color:#1E2329;
    font-size:22px;
    font-weight:500;
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:100px;
}
.cardheader>h{
    text-align:center;
}
@media (max-width:800px){.cardheader h{font-size:18px;}}

.cardContent>p{
    color:white;
    font-size:18px;
    padding:20px;
}
.tools{ 
    margin-top:60px;
    margin-bottom:40px;
    color:#FED154;
    font-size:24px;
    font-weight:400px;
    text-align:center;  
}
.toolsContainer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    max-width:800px;
    margin:0 auto;
    border:2px solid white;
    border-radius:19px;
    margin-bottom:60px;
}
.toolItem{
    color:white;
    width:190px;
    text-align:center;
    padding:10px 5px;
    font-size:18px;
}
/*MY UX SKILLS SECTION END*/


/*MY WORK SECTION*/
.workcontainer{
    display:flex;
    margin:4%;
    justify-content: center;
}
.workcontainer1{
    display:flex;
    flex-direction:column;
    width:40%;
    margin:2%;
    display:inline-block;
}
.workcontainer2{
    display:flex;
    flex-direction:column;
    width:40%;
    margin:2%;
    display:inline-block;
}
.worktitle, .mockup, .description{
    color:white;
    font-size:18px;
    text-align:center;
    margin-bottom:40px;
}
.worktitle{
    border-radius:20px;
    height:15%;
    width:80%;
    padding-top: 10px;
    margin:auto;
    background-color:#3B4046;
    cursor:pointer;
    align-items: center;
    margin-bottom:40px;
}

/*MY WORK SECTION END*/

/*FOOTER SECTION*/
#footerSection{
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-top: 2px solid grey;
}
#Copyright{
    color:white;
    font-size:small;
}


